<div class="container my-5">
  <div class="row row-cols-5 g-3 " >
    @for (product of allProducts; track product.id) {

    <div class="col">
      <div class="cardd bg-light">
        <a [routerLink]="['/prodetails',product.id]">
        <div class="imge">
          <div
            class="stock"
            [ngClass]="
              product?.availabilityStatus == 'In Stock' ? 'bg-green' : 'bg-red'
            "
          >
            @if (product.availabilityStatus=='In Stock') { in Stock } @else { out of stock }
          </div>

          <img [src]="product.images[0]" alt="" class="w-100 h-100" />
        </div>
        </a>
        <div class="content py-2 px-2">
          <div class="d-flex justify-content-between">
            <h2>{{ product.title.split(' ').slice(0,3).join(' ') }}</h2>
            <p>{{ product.price }}$</p>
          </div>

          <p class="des">{{product.description.split(' ').slice(0,8).join(' ') }}</p>
        </div>
        <button class="btn btn-outline-secondary">Add To Cart</button>
      </div>
    </div>
    }
  </div>
</div>
